@using AFAConsultant.Models
@model User

@{
}
<span class="mr-2 d-block d-lg-inline" style="font-size: 1rem; margin-right: 8px;">@Model.FullName</span>
<img class="img-profile rounded-circle"
     src="~/images/@Model.ImageName">