@using AFAConsultant.Models
@model User
@{
}
<div class="sidebar-user-info text-center">
    <img src="~/images/@Model.ImageName" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px;">
    <div class="user-name mt-2">@Model.FullName</div>
</div>